<div class="center jumbotron mt-5 px-5">
  <h1>Shorten your link here</h1>

  <%= render "layouts/flash" %>

  <%= form_with(model: @link, local: true) do |f| %>
    <div class="form-row px-5">
      <div class="col-md-10">
    		<%= f.text_field :original_link, class: "form-control form-control-lg" %>
      </div>

      <div class="col-md-2">
        <%= f.submit "Shorten Link", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <ul class="list-group">
    <%= render partial: "link", collection: @links.reverse %>
  </ul>
</div>

<input id="clipboard"></input>
