<div class="center jumbotron index-page-jumbotron">
  <h1>Shorten your link here</h1>

  <%= render "layouts/flash" %>

  <%= form_with(model: @link, local: true) do |f| %>
    <div class="form-row">
      <div class="col-md-10">
    		<%= f.text_field :original_link, class: "form-control form-control-lg" %>
      </div>

      <div class="col-md-2">
        <%= f.submit "Shorten Link", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <%= render "links/all_links" %>
</div>
