<div class="center jumbotron">
  <h1>Shorten your link here</h1>

  <div class="container">
    <%= form_with(model: @link, local: true) do |f| %>
      <div class="form-row">
        <div class="col-md-10">
      		<%= f.text_field :original_link, class: "form-control form-control-lg" %>
        </div>

        <div class="col-md-2">
          <%= f.submit "Shorten Link", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>

<div class="link-list container">
  <ul class="list-group">
    <% @links.each do |link| %>
      <li class="list-group-item">
        <p>
          Original link:
          <%= link.original_link %>
          <%= link_to "x", link, method: :delete, class: "btn btn-outline-danger delete-button" %>
        </p>
        <p>
          Shortened link: <%= link_to "#{root_url}#{link.shortened_link}", shortened_link_url(link.shortened_link) %>
        </p>
      </li>
    <% end %>
  </ul>
</div>