<h1>Shorten your link here</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @link, local: true) do |f| %>

		  <%= f.label :original_link %>
		  <%= f.text_field :original_link %>

		  <%= f.submit "Shorten Link", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<ul class="users">
  <% @links.each do |link| %>
    <li>
      <p><%= link.original_link %><p>
      <p><%= "#{root_url}#{link.shortened_link}" %><p>
    </li>
  <% end %>
</ul>
