<!DOCTYPE html>
<html>
  <head>
    <title>LinkShortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <%= link_to "My link shortener", root_path, id: "logo", class: "navbar-brand" %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
